In [2]:
import numpy as np
import pandas as pd 
import os

In [3]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [26]:
#movies['genres'][0].split('|')
movies['genres'].str.split('|')

0        [Adventure, Animation, Children, Comedy, Fantasy]
1                           [Adventure, Children, Fantasy]
2                                        [Comedy, Romance]
3                                 [Comedy, Drama, Romance]
4                                                 [Comedy]
                               ...
10324                        [Animation, Children, Comedy]
10325                                             [Comedy]
10326                                             [Comedy]
10327                                              [Drama]
10328                                 [(no genres listed)]
Name: genres, Length: 10329, dtype: object

In [6]:
user_unique = movies['movieId'].unique()
user_col = np.repeat(user_unique,7).tolist()

In [7]:
moods = ['angry', 'disgusted', 'fearful', 'happy', 'sad', 'surprised', 'neutral']

In [8]:
mood_col = moods*len(user_unique)

In [9]:
genre_df = pd.DataFrame(list(zip(user_col, mood_col)),
               columns =['user', 'mood'])

In [14]:
genre_df['genre'] = 0
#genre_df = genre_df.astype('object')

In [27]:
genre_df.loc[(genre_df['user']==1) & (genre_df['mood']=='angry'), 'genre'] = "['Comedy']"

In [28]:
genre_df.loc[(genre_df['user']==1) & (genre_df['mood']=='disgusted'), 'genre'] = "['Children', 'Animation']"

In [29]:
genre_df.to_csv('genres.csv')

In [30]:
genre_df

         user       mood                      genre
0           1      angry                 ['Comedy']
1           1  disgusted  ['Children', 'Animation']
2           1    fearful                          0
3           1      happy                          0
4           1        sad                          0
...       ...        ...                        ...
72298  149532    fearful                          0
72299  149532      happy                          0
72300  149532        sad                          0
72301  149532  surprised                          0
72302  149532    neutral                          0

[72303 rows x 3 columns]